<!DOCTYPE html>
<html>
  <head>
    <title>Sample Outlook Calendar Integration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'common/navbar' %>
      <%= yield %>
    </div>
    <%= yield :javascript %>
    <span class="access-token" style="display: none"><%= current_user&.credentials&.fetch(:token) %></div>
  </body>
</html>
